<html>
<head>
    <title>Prediction Market: {{name}}</title>
</head>
<body>

<h1>{{name}}</h1>
<p>{{proposition}}</p>

<p>Market bounds: {{floor.ln_odds}} to {{ceiling.ln_odds}}</p>

<p>Current state: {{state.ln_odds}}</p>

<p>Set state?</p>
<form action="{{id}}/update" method="post">
    <div>New state: <input type="number" min="{{floor.ln_odds}}" value="{{state.ln_odds}}" max="{{ceiling.ln_odds}}" step="any" name="state" /></div>
    <div><input type="submit" value="Bet!" /></div>
</form>

</body>
</html>
