{% from "entity.jinja.html" import entity with context %}
<div style="background: #cccccc; margin: 0 0 1em">

{% if current_entity %}
Logged in as {{entity(current_entity)}};
<form action="{{resources.logout_path()}}" method="post" style="display: inline">
    <input type="hidden" name="redirectTo" value="{{current_path}}" />
    <input type="submit" value="Log out" />
</form>
{% else %}
<form action="{{resources.login_path()}}" method="post">
    <input placeholder="username" name="username" />
    <input placeholder="password" type="password" name="password" />
    <input type="hidden" name="redirectTo" value="{{current_path}}" />
    <input type="submit" value="Log in as user"/>
</form>
{% endif %}

</div>
