<html>
<head>
    <title>Prediction Market: {{market.name}}</title>
</head>
<body>

<h1>{{market.name}}</h1>
<p>{{market.proposition}}</p>

<p>Market bounds: {{market.floor.ln_odds}} to {{market.ceiling.ln_odds}}</p>

<p>Current state: {{market.state.ln_odds}}</p>

<p>Set state?</p>
<form action="{{resources.market_path(id)}}" method="post">
    <div>New state: <input type="number" min="{{market.floor.ln_odds}}" value="{{market.state.ln_odds}}" max="{{market.ceiling.ln_odds}}" step="any" name="state" /></div>
    <div><input type="submit" value="Bet!" /></div>
</form>

</body>
</html>
