{% from "entity.jinja.html" import entity with context %}

<html>
<head>
    <title>Prediction Market: {{market.name}}</title>
</head>
<body>
{% include 'topbar.jinja.html' %}

<h1>{{market.name}}</h1>

<ul>
    <li><b>Proposition:</b> {{market.proposition}}</li>
    <li><b>Market bounds:</b> {{market.floor.ln_odds}} to {{market.ceiling.ln_odds}}</li>
    <li><b>Current state:</b> {{market.state.ln_odds}}</li>
    <li><details>
        <summary><b>Stakes:</b></summary>
        {% if market.stakes %}
        <table>
            <tbody>
                <tr>
                    <th>Entity</th>
                    <th>ln-winnings if yes</th>
                    <th>ln-winnings if no</th>
                </tr>
                {% for participant, stakes in stakes.items() %}
                <tr>
                    <td>{{entity(participant)}}</td>
                    <td>{{stakes.ln_winnings_if_yes | round(2)}}</td>
                    <td>{{stakes.ln_winnings_if_no | round(2)}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        (no participants yet)
        {% endif %}
    </details></li>

    <li>
        <b>Set state:</b>
        <form action="{{resources.market_path(market_id)}}" method="post">
            <div>New state: <input type="number" min="{{market.floor.ln_odds}}" value="{{market.state.ln_odds}}" max="{{market.ceiling.ln_odds}}" step="any" name="state" /></div>
            {% if current_entity %}
            <div><input type="submit" value="Bet!" /></div>
            {% else %}
            <div><input type="submit" value="Log in to bet!" disabled /></div>
            {% endif %}
        </form>
    </li>

</body>
</html>
