{% from "entity.jinja.html" import entity with context %}

<html>
<head>
    <title>Prediction Market: {{market.name}}</title>
</head>
<body>
{% include 'topbar.jinja.html' %}

<h1>{{market.name}}</h1>
<p>{{market.proposition}}</p>

<p>Market bounds: {{market.floor.ln_odds}} to {{market.ceiling.ln_odds}}</p>

<p>Current state: {{market.state.ln_odds}}</p>

<details>
    <summary>Stakes</summary>
    <table>
        <tbody>
            <tr> <th>Entity</th> <th>Winnings if yes</th> <th>Winnings if no</th> </tr>
            {% for participant, stakes in market.stakes.items() %}
            <tr> <td>{{entity(participant)}}</td> <td>{{stakes.if_resolves_yes}}</td> <td>{{stakes.if_resolves_no}}</td> </tr>
            {% endfor %}
        </tbody>
    </table>
</details>

{% if current_entity %}
<p>Set state?</p>
<form action="{{resources.market_path(id)}}" method="post">
    <div>New state: <input type="number" min="{{market.floor.ln_odds}}" value="{{market.state.ln_odds}}" max="{{market.ceiling.ln_odds}}" step="any" name="state" /></div>
    <div><input type="submit" value="Bet!" /></div>
</form>
{% else %}
<p>(Log in to participate!)</p>
{% endif %}

</body>
</html>
